<launch>
    <!-- marker using aruco tracker  -->

    <arg name="markerId" default="123"/>
    <node pkg="aruco_ros" type="single" name="aruco_single">

        <remap from="/camera_info" to="/head_camera/rgb/camera_info" />
        <remap from="/image" to="/head_camera/rgb/image_raw" />


        <param name="image_is_rectified" value="True"/>
        <param name="marker_size"        value="0.36"/> <!-- change  from default-->
        <param name="marker_id"          value="$(arg markerId)"/> <!-- change from default original 369 -->

        <param name="reference_frame"    value="head_camera_rgb_optical_frame"/>   <!-- marker pose -->
        <param name="camera_frame"       value="head_camera_rgb_optical_frame"/>
        <param name="marker_frame"       value="aruco_marker_frame" />
        <param name="corner_refinement"  value="LINES" />
    </node>

    <!-- create the rqt gradient, from example code -->
    <node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view" respawn="false" output="screen">
        <remap from="image" to="/aruco_single/result" />
    </node>

    <!-- start the following node -->
    <node respawn="true" pkg="assignment_code_follow" type="assignment_code_follow-follow_marker" name="marker_follow" output="screen">
        <param name="marker_id"          value="$(arg markerId)"/>
    </node>
</launch>
